<div class="row">
    <div class="span8 offset2" id="m-form" 
                                data-colors-url="<%= search_colors_path %>.json"
                                data-styles-url="<%= search_styles_path %>.json"
                                data-seasons-url="<%= search_seasons_path %>.json"
                                data-assets-url="<%= search_assets_path %>.json"
                                data-rsvps-url="<%= search_rsvps_path %>.json"
                                data-menus-url="<%= search_menus_path %>.json"
                                data-programs-url="<%= search_programs_path %>.json"
                                data-thank-you-cards-url="<%= search_thank_you_cards_path %>.json"
                                data-invitations-url="<%= search_invitations_path %>.json">
                                
        <%= form_for @invitation, :html => { :multipart => true } do |f| %>
            <%= f.label :featured %>
            <%= f.check_box :featured %>
            
            <%= f.label :name %>
            <%= f.text_field :name %>
            
            <%= f.label :description %>
            <%= f.text_area :description, class: "shortbox" %>
            
            <%= f.label :color_tokens, "Colors" %>
            <%= f.text_field :color_tokens, data: { load: @invitation.colors} %>
            
            <%= f.label :season_tokens, "Seasons" %>
            <%= f.text_field :season_tokens, data: { load: @invitation.seasons } %>
            
            <%= f.label :style_tokens, "Styles" %>
            <%= f.text_field :style_tokens, data: { load: @invitation.styles} %>
            
            <%= f.file_field :image %>
            
            <%= f.label :rsvp_tokens, "Related RSVPs" %>
            <%= f.text_field :rsvp_tokens, data: { load: @invitation.rsvps} %>
            
            <%= f.label :thank_you_card_tokens, "Related Thank You Cards" %>
            <%= f.text_field :thank_you_card_tokens, data: { load: @invitation.thank_you_cards} %>
            
            <%= f.label :menu_tokens, "Related Menus" %>
            <%= f.text_field :menu_tokens, data: { load: @invitation.menus} %>
            
            <%= f.label :program_tokens, "Related Programs" %>
            <%= f.text_field :program_tokens, data: { load: @invitation.programs} %>
            
            <%= f.label :invitation_tokens, "Related Invitations" %>
            <%= f.text_field :invitation_tokens, data: { load: @invitation.beta_invitations} %>
            
            <%= f.submit class: 'btn btn-large btn-primary' %>
        <% end %>
    </div>
</div>