<div class="span5 quantity-column" id="quantities">
    <%= render 'dropdown_invitation' %>
    <%= render 'dropdown_enclosure_card' %>
    <%= render 'dropdown_escort_card' %>
    <%= render 'dropdown_rsvp' %>
    <%= render 'dropdown_save_the_date' %>
    <%= render 'dropdown_thank_you_card' %>
    <%= render 'dropdown_wedding_menu' %>
    <%= render 'subtotal' %>
</div>
